/* 
button[kind="secondary"] {
    background-color: #36A9AE;
    background-image: linear-gradient(#37ADB2, #329CA0);
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 100%;
    margin: 0;
    outline: 0;
    padding: 11px 15px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out, opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button[kind="secondary"]:hover {
    box-shadow: none;
    text-decoration: none;
    transition-duration: .15s, .15s;
}

button[kind="secondary"]:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
    color: #FFFFFF !important;
}

button[kind="secondary"]:disabled {
    cursor: not-allowed;
    opacity: .6;
}

button[kind="secondary"]:disabled:active {
    pointer-events: none;
}

button[kind="secondary"]:hover {
    box-shadow: none;
    color: #FFFFFF;
} */


button[kind="secondary"] {
    background-color: #36A9AE;
    background-image: linear-gradient(#37ADB2, #329CA0);
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 100%;
    margin: 0;
    outline: 0;
    padding: 11px 15px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out, opacity .05s ease-in-out, background-color .05s ease-in-out, color .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button[kind="secondary"]:hover {
    box-shadow: none;
    text-decoration: none;
    transition-duration: .15s, .15s;
}

button[kind="secondary"]:active,
button[kind="secondary"]:focus {
    background-color: rgb(0, 0, 0);
    background-image: none;
    color: rgb(255, 255, 255) !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

button[kind="secondary"]:disabled {
    cursor: not-allowed;
    opacity: .6;
}

button[kind="secondary"]:disabled:active {
    pointer-events: none;
}

button[kind="secondary"]:hover {
    box-shadow: none;
    color: #FFFFFF;
}






















button[kind="primary"] {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    /* text-decoration: none; */
    background-color: #36A9AE;
    text-align: left;
    color: white;
    cursor: pointer;
    border: 3px solid #36A9AE;
    /* padding: 0.5em 1em; */
    /* box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px; */
    position: relative;
    /* border-radius: 8px; */
    /* transition: background-color 0.1s ease, color 0.1s ease; */
}

/* button[kind="primary"]:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
} */
/* 
@media (min-width: 768px) {
    button[kind="primary"] {
        padding: 0.25em 0.75em;
    }
} */

button[kind="primary"]:hover {
    background-color: black;
    color: white;
    border: 3px solid black; /* Keep border color consistent if desired */
}

