/* Style for the sidebar */
[data-testid="stSidebar"] {
    color: #fff;
    width: 250px;
    padding-left: 20px;
    height: 100vh;
    background-color: #36A9AE;
}

section[data-testid="stSidebar"] {
    width: 150px !important; 
}

